body{
    background-color: #fafafa;
}
@media screen and (min-width: 768px) {
    body {
        margin: 0;
        padding: 0;
        border: 0;
        vertical-align: baseline;
        padding-top: 67px;
        font-family: Roboto;
    }
    .mobile-only{
        display: none;
    }
    a {
        text-decoration: none;
        color: teal;
        cursor: pointer;
    }

    * {
        box-sizing: border-box;
    }

    .col-1 {
        width: 8.33%;
    }

    .col-2 {
        width: 16.66%;
    }

    .col-3 {
        width: 25%;
    }

    .col-4 {
        width: 33.33%;
    }

    .col-5 {
        width: 41.66%;
    }

    .col-6 {
        width: 50%;
    }

    .col-7 {
        width: 58.33%;
    }

    .col-8 {
        width: 66.66%;
    }

    .col-9 {
        width: 75%;
    }

    .col-10 {
        width: 83.33%;
    }

    .col-11 {
        width: 91.66%;
    }

    .col-12 {
        width: 100%;
    }

    .clearfix::after {
        display: block;
        clear: both;
        content: "";
    }

    [class*="col-"] {
        float: left;
        padding: 0px 15px;
    }

    .logo {
        text-align: center;
    }

    .logo h1 {
        text-align: center;
        display: inline-block;
        padding: 15px;
        margin: 0;
    }

    .contact {
        text-align: center;
        color: red;
    }

    .contact p:last-child {
        margin-top: -4%;
        margin-bottom: 0;
    }

    .header {
        box-shadow: 0px -1px 16px black;
        position: fixed;
        background-color: white;
        width: 100%;
        top: 0;
        left: 0;
        z-index: 999;
    }

    .nav-menu ul {
        display: block;
        margin: 0 auto;
        width: 75%;
        padding-left: 0;
        text-align: center;
    }

    .nav-menu ul li {
        display: inline-block;
        padding: 24px 16px;
    }

    .state-search {
        text-align: center;
        background-image: url(../images/state.png);
        background-size: 100% 450px;
        height: 450px;
        line-height: 450px;
    }

    .state-content {
        display: inline-block;
        line-height: 1;
    }

    .state-content > h1 {
        color: white;
        font-size: 100px;
        opacity: .6;
        margin-bottom: -1%;
        margin-top: 20%;
    }

    .state-content > input {
        border: 0;
        background-color: transparent;
        font-size: 70px;
        color: silver;
        text-align: center;
        width: 550px;
        height: 100px;
        border-bottom: 1px solid white;
        margin-top: 2%;
    }

    .state-content > input:focus {
        outline: none;
    }

    .banner-1 {
        text-align: center;
        padding: 16px 0px;
    }

    .banner-1 > h1 {
        font-size: 70px;
    }

    #hospital-image, #doctor-image {
        max-width: 100%;
        height: auto;
    }

    #hospital-image {
        position: relative;
        top: 4px;
    }

    .hosp-image, .doc-image, .don-image {
        padding: 0;
    }

    #donation-image {
        min-width: 100%;
        position: relative;
        bottom: 4px;
    }

    .hospital-info, .donation-info, .doctor-info {
        text-align: right;
        float: right;
        display: inline-block;
        line-height: 72px;
    }

    .doctor-info {
        float: left;
        text-align: left;
    }

    .hosp-content, .don-content {
        margin-right: 20px;
        margin-top: 54px;
    }

    .doc-content {
        margin-left: 20px;
        margin-top: 54px;
    }

    .hosp-content > input, .doc-content > input[type='text'], .don-content > input {
        color: black;
        font-size: 60px;
        font-weight: bold;
        text-align: center;
        border: none;
        width: 270px;
        transition: border 0.3s ease;
    }

    .doc-content > input[type='text'] {
        width: 225px;
    }

    .hosp-content > input:focus, .doc-content > input:focus, .don-content > input:focus {
        outline: 0;
        border-bottom: 1px solid black;
    }

    .hosp-content > p, .doc-content > p, .don-content > p {
        margin: 0;
        text-align: right;
        font-size: 40px;
        line-height: 45px;
    }

    .doc-content > p {
        text-align: left;
    }

    .radio-buttons {
        line-height: 1;
        margin-bottom: 24px;
        margin-top: -8px;
    }

    .private-radio-button, .hospital-radio-button {
        display: inline-block;
    }

    .banner-2 {
        text-align: center;
        background-image: url("../images/features.jpg");
        color: white;
        position: relative;
        top: -8px;
        background-size: 100% 100%;
        height: 500px;
        border-bottom: 3px solid teal;
    }

    .features > h1 {
        font-size: 80px;
        border-bottom: 1px solid red;
        margin-left: -15px;
        margin-right: -15px;
    }

    .features h3 {
        font-size: 25px;
    }

    .features p {
        font-size: 20px;
    }

    .banner-3 {
        text-align: center;
        border-bottom: 3px solid teal;
        height: 250px;
    }

    .user h1 {
        font-size: 40px;
    }

    .sign-in > input {
        width: 250px;
        height: 40px;
        font-size: 16px;
        padding: 12px;
        margin-right: 12px;
    }

    .sign-in > button {
        color: white;
        background-color: teal;
        height: 40px;
        width: 70px;
        border-radius: 3px;
        border-color: transparent;
        font-size: 16px;
    }

    .sign-in > a {
        margin-left: 10px;
    }

    .banner-4 {
        text-align: center;
        padding: 16px;
    }

    .banner-4 > div > :last-child {
        color: teal;
    }

    .footer {
        background-color: #272727;
        text-align: center;
        color: white;
    }

    .footer img:hover {

        border: 1px solid white;
        background-color: white;
        border-radius: 7em;
    }

    .social {
        display: block;
        margin: 20px 0px;
    }

    .reg {
        line-height: 86px;
    }

    .footer img {
        width: 45px;
        height: 45px;
        border: 1px solid silver;
        border-radius: 7em;
        background-color: silver;
    }
}
@media screen and (max-width: 768px) {
    body {
        margin: 0;
        padding: 0;
        border: 0;
        vertical-align: baseline;
        font-family: Roboto;
        width: auto;
    }

    h1 {
        margin: 0;
        padding: 0;
    }

    .content img {
        width: 15px;
        height: 15px;
    }

    .desktop-only {
        display: none;
    }

    .nav-menu, .contact {
        display: none;
    }

    .row {
        background-color: teal;
        position: relative;
        height: 128px;
        color: white;
    }

    .nav-button, .search-button {
        display: block;
        height: 48px;
        width: 48px;
        overflow: hidden;
        z-index: 2;
        position: fixed;
        background-size: 24px 24px;
        background: center center no-repeat;
        left: 12px;
        top: 16px;
        padding: 1px 6px;
    }

    .nav-button i {
        width: 24px;
        vertical-align: middle;
    }

    .search-button {
        left: 86%;
        box-sizing: border-box;
    }

    .logo {
        padding: 76px 16px 0;
    }

    .logo h1 {
        font-size: 24px;
        font-weight: normal;
    }

    .grid_outer {
        padding: 0 0 60px 0px;
        margin: 0 24px;
        text-align: center;
    }

    .state-search {
        height: 156px;
        background: url("../images/state.png") center center;
        background-size: cover;
        /*background-position: center center;*/
        margin: 0 -24px;
    }

    .state-content {
        padding: 36px 0;
    }

    .state-content h1 {
        color: #fff;
        opacity: .6;
        font-weight: normal;
    }

    .state-content input {
        border: 1px solid #fff;
        background-color: transparent;
        color: silver;
        text-align: center;
        margin-top: 2%;
        font-size: 20px;
        width: 160px;
        opacity: 0.6;
        transition: transform 0.3s cubic-bezier(0.45, 0.05, 0.55, 0.95);
    }

    .state-content input:hover {
        border: 0;
        border-bottom: 1px solid white;
        opacity: 1;
        outline: none;
        transform: scaleX(1.2);
    }
}
